@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #FAF4EC;
  font-family: "Schibsted Grotesk", sans-serif;
}
.shape {
  --p: 70px;

  width: 100%;
  min-height: 400px;
  height: clamp(400px, 60vh, 700px); /* responsive height */
  clip-path: polygon(0 75%, 100% 25%, 100% 100%, 0% 100%);
}

@media (min-width: 0px) and (max-width: 767px) {
  .shape {
    clip-path: polygon(0 19%, 100% 11%, 100% 100%, 0% 100%);
  }
}

